@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic);

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #02883a;
    font-size: 40px;
}

.content-form{
    margin-top: 2rem;
}

/* Form */

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text{
    color: #424242;
    font-weight: 500;
}

.form label{
    color: #424242;
}

.form input#tema{
    outline: none;
    border: solid 0.5px #424242;
    border-radius: 5px;
    width: 200px;
    padding: 0px 0px 0px 10px;
    height: 40px;
}

.form input#tema:focus{
    border: solid 0.5px #ff5863c5;
}

.form input.button{
    height: 40px;
    width: 160px;
    background-color: #30fe75;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-weight: 500;
    box-shadow: 0px 0px 10px #74ff5859;
}


.form input.button:hover{
    transition: .4s;
    background-color: #026b1c;
}

/* card */

.card .card-text{
    margin-top: 10px;
    color: #424242;
    font-weight: 500;
}

.card img{
    width: 18px;
}

.card .img-1, .img-2{
    display: flex;
}

.card .img-2{
    justify-content: end;
}

.button{
    display: flex;
    justify-content: center;
}

.button a{
    text-decoration: none;
    background-color: #30fe75;
    padding: 5px 10px 5px 10px;
    color: #000000;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 2rem;
    box-shadow: 0px 0px 10px #58ff7959;
}