
<p class="text">Digite um gênero de série</p>
<form class="form" action="/request" method="get">
    <input type="text" name="genero" id="genero">
    <input type="submit" value="Resultados" class="button">
</form>
