
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="img-1">
    <img src="public/img/icon.svg" alt="Símbolo de aspas">
    </div>

    <p class="card-text">{{data}}</p>
    
    <div class="img-2">
    <img src="public/img/icon.svg" alt="Símbolo de aspas">
    </div>
  </div>
</div>

<div class="button">
<a href="/">Voltar</a>
</div>

